<div>
  <h1>Pranav</h1>
</div>
<app-category></app-category>
<app-data-binding></app-data-binding>
<!-- <app-addition></app-addition> -->
<app-pipe-example></app-pipe-example>
<app-directives-example></app-directives-example>
<app-switchexample [requestStatus]="'rejected'"></app-switchexample>
<app-switchexample [requestStatus]="'pending'"></app-switchexample>
<app-switchexample [requestStatus]="'rejected'"></app-switchexample>

<app-parent></app-parent>
<app-attributedirectives></app-attributedirectives>